<div class="container-fluid ">
    <div class="row justify-content-center  row-main">
      <div class="sign-in__image-and-logo col text-center">
      </div>
      <div class="col sign-in__aside-sign-in   text-center">
        <div class="sign-in__form-sign-in">
            <h1>Log In</h1>
            <div class="mb-3 form-size">
              <label for="inputEmail"></label>
              <input [(ngModel)]="vetLogin.usuario" type="email" class="form-control form-field" id="inputEmail" name="email" placeholder="name@example.com">
              <label for="inputSenha"></label>
              <input [(ngModel)]="vetLogin.senha" type="password" class="form-control form-field" id="inputSenha" name="senha" placeholder="Password">
              <div class="btn-group">
                  <button routerLink="/landing-page" class="btn-outside-border"> Cancel </button>
                  <button class="btn-inside-color" (click)="entrar()"> Sign in</button>
              </div>
                <p>Are you new here? <a routerLink="/sign-up">Sign up for free</a> </p>
            </div>
           
        </div>

      </div>
    </div>
