<header>
    <div class="sub_header" id="sub_header">
        <div class="sub_navigation_header">
            <a href="#">Meu Perfil</a>
            <a href="#">Clinica Registrada</a>
            <a href="#">Sair</a>
        </div>
    </div>
</header>

<body class="d-flex justify-content-center">
    <div class="row container">
        <div class="col-md-3 sidemenu">
            <div class="row item1">
                <div class="col-md-12">
                    <div class="eclipse"></div>
                </div>
                <div class="col-md-12">
                    <label class="nomeUsuario">Xpto da Silva</label>
                </div>
                <div class="col-md-12">
                   <a href="# ">Gerenciar clínica</a>
                </div>
                <div class="col-md-12">
                    <a href="# ">Agendamentos</a>
                </div>
            </div>
        </div>
        <div class=" col-md-9 ">
            <div class="homepage-content">
                    <h2>Acesse seu perfil</h2>
                    <a href="#"> Meu Perfil</a>
            </div>
            <div class="homepage-content">
                <h2>Cadastre sua clinica e comece a ofertas serviços!</h2>
                <a href="#"> Minha Clinica</a>
            </div>

        </div>



        </div>
    </body>