
<body class="d-flex justify-content-center">
    <div class="row container">
        <div class="col-md-3 sidemenu">
            <div class="row item1">
                <div class="col-md-12 eclipse-align">
                    <div class="eclipse">
                        <img src="{{imagem}}" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="nomeUsuario">{{nome}}</label>
                </div>
                <div class="col-md-12">
                   <a routerLink="/vet-gerenciarclinica">Gerenciar clínica</a>
                </div>
            </div>
        </div>
        <div class=" col-md-9 ">
            <div class="homepage-content">
                    <h2>Acesse seu perfil</h2>
                    <a routerLink="/vet-finalizarcadastro"> Meu Perfil</a>
            </div>
            <div class="homepage-content">
                <h2>Cadastre sua clinica e comece a ofertas serviços!</h2>
                <a routerLink="/vet-cadastro-clinica"> Minha Clinica</a>
            </div>

        </div>



        </div>
    </body>