
* {
    margin: 0;
    padding: 0;

}

.logo{
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background-color: #ff9933;
    margin-right: 20px;
}
.header,
.navigation_header {
    height:5vh;
    display: flex;
    background-color: #EBB365;
    align-items: center;
}
.header{
    justify-content: space-between;
    padding: 0 5%;
}
.img_logo_header{
    display: flex;
    margin-right: 20px;
}
.navigation_header{  
    gap: 2em;
}
.navigation_header a{  
    font-family: 'dosis-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #61413E;

}
.sub_header{
    height:5%;
    display: flex;
    background-color: #61413E;
    align-items: center;
    justify-content: center;
}
.sub_navigation_header{  
    gap: 2em;
    margin-left: 10px;
}
.sub_navigation_header a{ 
    margin-left: 20px; 
    font-family: 'dosis-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #EBB365;
}
.body{
    background-color: #C4B2A8;
    height: 100%;
}
.content{
    display: flex;
    justify-content: center;
}
.content h2{
    padding-top: 40px;
    font-family: 'dosis-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    align-items: center;
    color: #61413E;

}
.label{
    width: 50px;
    height: 50px;
}

body{
    
    background: rgba(235, 179, 101, 0.26);

}

input{
    box-sizing: border-box;
    width: 100%;
    height: 47%;
    margin: 1% 1% 3% 1%;
    

    background: #FFFFFF;
    border: 2px solid #61413E;
}

.ajuste{
        margin: 3% 0% 0% 1%;
}

.container{
    display: flex;
    flex-wrap: wrap;  
    background: rgba(235, 179, 101, 0.26);
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.item1 {
    background: #FFFFFF;
    align-items: center;
    margin: 3% 1% 1% 3%;

}

.item1 a{
    background: rgba(235, 179, 101, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-family: 'dosis-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #61413E;
    margin: 1% 1% 3% 1%;
}

.item2{
    background: #FFFFFF;
    margin: 1% 1% 1% 1%;
}

.item2 label{
    font-family: 'roboto-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #61413E;
}

.content div{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border: 2px solid #61413E;
}

.eclipse{
    display: center;
    align-items: center;
    height: 100px;
    width: 30%;
    padding: 18%;
    border-radius: 100%;
    background: #D9D9D9;
    margin-left: 29%;
}
.nomeUsuario{
    font-family: 'dosis-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 29%;
    color: #61413E;
}
.cadastrar{
    background: #61413E;
    border: 2px solid #61413E;
    border-radius: 6px;
        display: flex;
    align-items: center;
    text-align: center;

}
.cancelar{
    background: rgba(235, 179, 101, 0.5);
    border: 2px solid rgba(235, 179, 101, 0.5);
    border-radius: 6px;
        display: flex;
    align-items: center;
    text-align: center;
}