

<body class="d-flex justify-content-center">
    <div class="row container">
        <div class="col-md-3 sidemenu">
            <div class="row item1">
                <div class="col-md-12 eclipse-align">
                    <div class="eclipse ">
                        <img src="{{imagem}}" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="nomeUsuario">{{nome}}</label>
                </div>
                <div class="col-md-12">
                    <a routerLink="/vet-homepage">Home</a>
                    <a routerLink="/vet-gerenciarclinica">Gerenciar clínica</a>
                 </div>
            </div>
        </div>

        <!--Content-->
        <div class="col-md-9">
            <div class="homepage-content">
                <h2>Cadastre sua Clinica</h2>

                <div class="formulario-content">
                    <label for="nome" class="mb-0">Nome:</label>
                    <input [(ngModel)]="clinica.nome" id="nome" name="nome" type="text"
                        class="form-control form-control-sm formulario-content-input-big">

                    <label for="email" class="mb-0">Email:</label>
                    <input  [(ngModel)]="clinica.email" id="email" name="email" type="text"
                        class="form-control form-control-sm formulario-content-input-big">

                    <label for="cpf" class="mb-0">Telefone:</label>
                    <input [(ngModel)]="clinica.telefone" id="telefone" name="telefone" type="text"
                        class="form-control form-control-sm formulario-content-input-big">


                    <label for="imagem" class="mb-0">Imagem:</label>
                    <input [(ngModel)]="clinica.imagem" id="imagem" name="imagem" type="text"
                        class="form-control form-control-sm formulario-content-input-big">


                    <div class="formulario-content-2line">
                        <div class="formulario-content-2line-group-start">
                            <label for="logradouro" class="mb-0">Logradouro:</label>
                            <input [(ngModel)]="clinica.logradouro" id="logradouro" name="logradouro" type="text"
                                class="form-control form-control-sm ">
                        </div>
                        <div class="formulario-content-2line-group-end">
                            <label for="numero" class="mb-0">Numero:(Somente Numeros)</label>
                            <input [(ngModel)]="clinica.numero" id="numero" name="numero" type="text"
                                class="form-control form-control-sm">
                        </div>
                    </div>

                    <label for="bairro" class="mb-0">Bairro:</label>
                    <input [(ngModel)]="clinica.bairro" id="bairro" name="bairro" type="text"
                        class="form-control form-control-sm">

                    <div class="formulario-content-2line">
                        <div class="formulario-content-2line-group-start">
                            <label for="cidade" class="mb-0">Cidade:</label>
                            <input [(ngModel)]="clinica.cidade" id="cidade" name="cidade" type="text"
                                class="form-control form-control-sm">
                        </div>
                        <div class="formulario-content-2line-group-end">
                            <label class="mb-0" for="uf">UF:</label>
                            <select [(ngModel)]="clinica.uf" class="form-control form-control-sm mb-2" name="uf"
                                id="uf">
                                <option selected disabled value="">Selecione a UF:</option>
                                <option value="RS">RS</option>
                                <option value="RJ">RJ</option>
                                <option value="SP">SP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <button routerLink="/vet-homepage" class="btn-outside-border "> Cancelar </button>
                    <button class="btn-inside-color " (click)="cadastroClinica()"> Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</body>