<header class="header">
    <a class="logo" href="">
        <img src="https://i.imgur.com/NeLm4KM.png" width="40px" height="40px"
         alt="">Pet Plus</a>
    
    <input class="side-menu" type="checkbox" id="checkbox-menu">
    <label for="checkbox-menu" class="hamb">
        <span class="hamb-line"> </span>
        <span class="hamb-line"> </span>
        <span class="hamb-line"> </span>
    </label>
    <nav class="nav">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#"> Contact</a></li>
            <li><a href="#"> Sign In</a></li>
            <li><a href="#"> Sign Up</a></li>
        </ul>
    </nav>

</header>