<header class="header">
  <a class="logo" href="">
      <img src="https://i.imgur.com/NeLm4KM.png" width="40px" height="40px"
       alt="">Pet Plus</a>
  
  <input class="side-menu" type="checkbox" id="checkbox-menu">
  <label for="checkbox-menu" class="hamb">
      <span class="hamb-line"> </span>
      <span class="hamb-line"> </span>
      <span class="hamb-line"> </span>
  </label>
  <nav class="nav">
      <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#sobre">About</a></li>
          <li><a href="#contact"> Contact</a></li>
          <li><a href="#ourteam"> Know Us</a></li>
          <li><a routerLink="/sign-in"> Sign In</a></li>
          
      </ul>
  </nav>

</header>
<div class="container-fluid ">
    <div class="row justify-content-center  row-main">
      <div class="col sign-in__aside-sign-in text-center">
          <div class="sign-in__form-sign-in">
            <h1> Register here!</h1>
            <div class="mb-3 form-size">
              <input [(ngModel)]="vet.nome" type="text" class="form-control form-field" id="exampleFormControlInput1" placeholder="Name">
              <input [(ngModel)]="vet.email" type="email" class="form-control form-field" id="exampleFormControlInput1" placeholder="name@example.com">
              <input (input)='confirmSenha($event)' type="password" class="form-control form-field" id="exampleFormControlInput2" placeholder="Password">
              <input [(ngModel)]="vet.senha" type="password" class="form-control form-field" id="exampleFormControlInput2" placeholder="Confirm Password">
              <input [(ngModel)]="vet.cpf" type="text" class="form-control form-field" id="exampleFormControlInput1" placeholder="CPF">
              <div class="btn-group">
                <button routerLink="/sign-in" class="btn-outside-border "> Cancel </button>
                <button class="btn-inside-color " (click)="cadastrar()"> Sign Up</button>
              </div>
              
            </div>
          </div>
      </div>
    <div class="sign-in__image-and-logo col text-center">
      </div>
    </div>