<div class="container-fluid ">
    <div class="row justify-content-center  row-main">
      <div class="col sign-in__aside-sign-in text-center">
          <div class="sign-in__form-sign-in">
            <h1> Register here!</h1>
            <div class="mb-3 form-size">
              <input type="text" class="form-control form-field" id="exampleFormControlInput1" placeholder="Name">
              <input type="email" class="form-control form-field" id="exampleFormControlInput1" placeholder="name@example.com">
              <input type="password" class="form-control form-field" id="exampleFormControlInput2" placeholder="Password">
              <input type="password" class="form-control form-field" id="exampleFormControlInput2" placeholder="Confirm Password">
              <input type="text" class="form-control form-field" id="exampleFormControlInput1" placeholder="CPF">
              <input type="date" class="form-control form-field" id="exampleFormControlInput1" placeholder="Birth Date">
              <div class="btn-group">
                <button class="btn-outside-border "> Cancel </button>
                <button class="btn-inside-color "> Sign Up</button>
              </div>
              
            </div>
          </div>
      </div>
    <div class="sign-in__image-and-logo col text-center">
      </div>
    </div>