<header class="header">
    <a class="logo" href="">
        <img src="https://i.imgur.com/NeLm4KM.png" width="40px" height="40px"
         alt="">Pet Plus</a>
    
    <input class="side-menu" type="checkbox" id="checkbox-menu">
    <label for="checkbox-menu" class="hamb">
        <span class="hamb-line"> </span>
        <span class="hamb-line"> </span>
        <span class="hamb-line"> </span>
    </label>
    <nav class="nav">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#sobre">About</a></li>
            <li><a href="#contact"> Contact</a></li>
            <li><a href="#ourteam"> Know Us</a></li>
            <li><a routerLink="/sign-in"> Sign In</a></li>
            
        </ul>
    </nav>

</header>
<div class="hero">
    <img  class="hero-img" src="https://i.imgur.com/Hh81jI5.jpg" alt="">
    <div class="hero-section">
        <h1>Bem vindo to Pet Plus!</h1>
        <h4>We care about your pets, just like you!</h4>
        <p>Find the best place to take care of your pet next to you.</p>
        <button routerLink="/sign-up" class="btn-inside-color">Sign Up</button>
        
    </div>
    <div class="hero-aside">
        <img src="https://i.imgur.com/CAtNlq4.png" alt="">
    </div>
</div>
<!--      ABOUT US SECTION      -->
<div class="about" id="sobre">
    <img  class="about-img" src="https://i.imgur.com/0DeclXN.jpg" alt="">
    <div>
        <h2>About Pet Plus</h2>
    </div>

</div>
<!--     OUR TEAM SECTION        -->
<div class="our-team" id="ourteam">
    <img  class="our-team-img" src="https://i.imgur.com/DMhaDXI.jpg" alt="">
    <h2>Know More about our team</h2>
    <p>This plataform was made for academic porpouses as a graduation project, feel free to contact and know more about us!</p>
    <div class="our-team__card-grid">
        <div class="card card-1">
            <img src="https://avatars.githubusercontent.com/u/78542202?v=4" alt="">
            <div class="card-text">
                <h3>Andressa Vieira </h3>
                <p> Finance Analyst Junior</p>
                <p> SQL | AWS | C# </p>
                <div class="card-social">
                    <a  href="https://wwwlinkedIn.com/in/andressarv">
                        <img src="https://i.imgur.com/qDw8umd.png" alt="" width="40px">
                    </a>
                    <a href="https://github.com/dessa-rv">
                        <img src="https://i.imgur.com/eygjrUp.png" alt="" width="40px">
                    </a>
                </div>
            </div>
        </div >
        <div class="card card-2">
            <img src="" alt="">
            <div class="card-text">
                <h3>Gustavo Fernandes</h3>
                <p> Full Stack Developer Junior</p>
                <p> AEM | JAVA | NODE | ANGULAR</p>
                <div class="card-social">
                    <a  href=" ">
                        <img src="https://i.imgur.com/qDw8umd.png" alt="" width="40px">
                    </a>
                    <a href=" ">
                        <img src="https://i.imgur.com/eygjrUp.png" alt="" width="40px">
                    </a>
                </div>
            </div>
        </div>
        <div class="card card-3">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGqrRlzh-Zkeg/profile-displayphoto-shrink_800_800/0/1627267941073?e=1667433600&v=beta&t=QGJGG0P2pbln_pBQQxUjuAoVxMYm2yJF0zZft5aaDrg" alt="">
            <div class="card-text">
                <h3>Marcelo Abreu</h3>
                <p> Full Stack Developer Junior</p>
                <p> AEM | JAVA | NODE | ANGULAR</p>
                <div class="card-social">
                    <a  href="https://www.linkedin.com/in/m-arceloabreu/">
                        <img src="https://i.imgur.com/qDw8umd.png" alt="" width="40px">
                    </a>
                    <a href="https://github.com/m-arceloabreu">
                        <img src="https://i.imgur.com/eygjrUp.png" alt="" width="40px">
                    </a>
                </div>
            </div>
        </div>
        <div class="card card-4">
            <img src="" alt="">
            <div class="card-text">
                <h3>Vinicius </h3>
                <p> Full Stack Developer Junior</p>
                <p> AEM | JAVA | NODE | ANGULAR</p>
                <div class="card-social">
                    <a  href=" ">
                        <img src="https://i.imgur.com/qDw8umd.png" alt="" width="40px">
                    </a>
                    <a href="">
                        <img src="https://i.imgur.com/eygjrUp.png" alt="" width="40px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--      CONTACT SECTION      -->
<div class="contact" id="contact">
    <img  class="about-img" src="https://i.imgur.com/0DeclXN.jpg" alt="">

    <h2>Contact Section still in Development</h2>

</div>

