@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
*{
    font-family: 'Dosis', sans-serif;
}
* h2{
    font-size: 55px;
    color: #61413e;
}
* p{
    font-size: 20px;
}
/*HEADER */

.cores {
    color:#ebb365;
    color: #61413e;
}
body{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
.header{
    
    height: 10vh;
    position: sticky;
    background-color: #ebb365;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    box-shadow: 0px 3px 2px 1px rgba(100, 100, 100, 0.2);

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: none;
    font-size: 30px;
    
}
a{
    color: #61413e;
    font-size: 1.4rem;
    text-decoration: none;
}
.side-menu{
    display: none;
}

.nav{
    display: flex;
    width: 50%;
    height: 100%;
}
.menu{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}
.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.menu a{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s ease-in-out;
}
.menu a:hover{
    background-color: #61413e;
    color: #ebb365;
    height: 100%;
    
}




@media screen and (max-width: 500px) {
    
.header{
    background-color: #ebb365;
    position: sticky;
    top: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    padding: 0;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Dosis', sans-serif;
    color: #61413e;
}
.side-menu{
    display: none;
    top: 0;
    left: 0;
    /* opacity: 0; */
}

.hamb{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}
.hamb-line{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #61413e;
    transition: 0.25s ease-in-out;
}
.hamb .hamb-line:nth-child(2){
    top: 0px;
}
.hamb .hamb-line:nth-child(2){
    top: 8px;
}
.hamb .hamb-line:nth-child(3){
    top: 16px;
}

.side-menu:checked + .hamb .hamb-line:nth-child(1){
    top: 8px;
    transform: rotate(-45deg);
}
.side-menu:checked + .hamb .hamb-line:nth-child(2){
    opacity: 0;
}
.side-menu:checked + .hamb .hamb-line:nth-child(3){
    top: 8px;
    transform: rotate(45deg);
}

/* fim button checked*/

.nav{
    display: flex;
    flex-direction: column;
    top: 100px;
    display: none;
}
.side-menu:checked ~ .nav{
    
    position: absolute;
    top: 20vh;
    width: 100%;
    background: #ebb365;
    opacity: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 80vh;
    padding: 0;
    margin-top: 5vh;
}
.menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}
 a{
    text-transform: uppercase;
    color: #61413e;
    font-family: 'Dosis', sans-serif;;
    font-size: 16px;
    text-decoration: none;

}

}






/* HERO SECTION SECTION*/
.hero{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
.hero-img{
    margin: 0;
    padding: 0;
    display: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.hero-section{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.hero-section h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: #61413e;
    text-shadow: 0px 0px 5px  #61413e;
}
.hero-section h4{
    margin-bottom: 20px;
}
.hero-section button{
    margin-top: 20px;
}

.hero-aside{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.hero-aside img{
    width: 80%;
    height: 80%;
    border-radius: 40px;
    box-shadow: 0px 0px 10px  #61413e;
}
/* ABOUT SECTION*/
.about{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.about-img{
    display: fixed;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    z-index: -10;
}
/* OUR TEAM SECTION*/
.our-team{
    margin: 0;
    padding: 20px;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
}

.our-team-img{
    display: fixed;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    z-index: -10;
}
.our-team__card-grid{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 22%;
    height: 95%;
    border-radius: 15px;
    display: flex;
    background-color: #ebb36596;
    box-shadow: 0px 0px 10px  #61413e;
    flex-direction: column;
    padding: 15px;
    color: #61413e;
    text-decoration: none;
    transition: 0.5s ease-in;
}
.card:hover{
    width: 25%;
    height: 105%;
}
.card img{
    size: fixed 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px  #61413e;
}
.card-text{
    padding:15px;
}
.card-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/*  CONTACT SECTION */
.contact{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.contact-img{
    display: fixed;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    z-index: -10;
}


