<header>
    <div class="sub_header" id="sub_header">
        <div class="sub_navigation_header">
            <a href="#">Meu Perfil</a>
            <a href="#">Clinica Registrada</a>
            <a href="#">Sair</a>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-3">
        <div class="row item1">
            <div class="col-md-12">
                <div class="eclipse"></div>
            </div>
            <div class="col-md-12">
                <label class="nomeUsuario">Xpto da Silva</label>
            </div>
            <div class="col-md-12">
               <a href="# ">Pet Registrados</a>
            </div>
            <div class="col-md-12">
                <a href="# ">Agendamentos</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row item2">
            <div class="col-md-12 content">
                 <h2> Complete Seu Cadastro</h2>
            </div>
            <div class="col-md-12">
                <label class="campo">RG</label>
                <input type="text" placeholder="Preencha seu RG" name="nome" id="nome">
            </div>
            <div class="col-md-12">
                <label class="campo">Imagem Perfil</label>
                <input type="text" placeholder="Insira a URL da Imagem" name="email" id="email">
            </div>
            <div class="col-md-12">
                <label class="campo">Telefone</label>
                <input type="text" placeholder="Digite seu telefone" name="telefone" id="telefone">
            </div>
            <div class="col-md-12">
                <label class="campo">Endereço</label></div>
            <div class="col-md-9">
                <input type="text" placeholder="Rua" name="rua" id="rua">
            </div>
            <div class="col-md-3 ">
                <input type="number" class="ajuste" placeholder="Numero" name="number" id="number">
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="Bairro" name="bairro" id="bairro">
            </div>
            <div class="col-md-3">
                <input type="text" class="ajuste" placeholder="CEP" name="cep" id="cep">
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="Cidade" name="cidade" id="cidade">
            </div>
            <div class="col-md-3">
                <input type="text" class="ajuste" placeholder="UF" name="uf" id="uf">
            </div>
            <div class="col-md-12">
                <div class="row button">
                    <div class="col-sm-6">
                        <button type="button"  class="cancelar">Cancelar</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button"  class="cadastrar">Cadastrar</button>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>